<h2>Registration Form</h2>

<form>

<input type="text" placeholder="First Name"><br><br>

<input type="email" placeholder="Email"><br><br>

<input type="password" placeholder="Password"><br><br>

<input type="number" placeholder="Age"><br><br>

<input type="date"><br><br>

<select>
  <option>Philippines</option>
  <option>USA</option>
</select><br><br>

<label>
<input type="radio" name="type"> Student
</label>

<label>
<input type="radio" name="type"> Guest
</label><br><br>

<label>
<input type="checkbox"> I agree to terms
</label><br><br>

<button type="submit">Submit</button>

</form>
